@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Loop scheduling has made an impact in my life and I wanted to share it.<br />
    The idea is to transform your list of tasks into an easy to manage schedule. It works particularly well for 
    routine tasks like housework that need to be completed over and over again. Rather than a set schedule like 
    Monday = dishes, Tuesday = vacuum, you can complete tasks in a loop whenever you have time to do the next thing.<br /><br />
    
    Some days we can't get anything extra done, and some days we could do a dozen things!<br /><br />
    
    Plus this way your brain never has to track anything or worry about the to-do list being a mile long. 
    Just check whatever card is next, do it, and flip to the next card. 
    I chose to highlight weight lifting exercises because it has an impact in my own life right now.<br /><br />
</p>