@model Card

    <style>
        /*        $color: Color array: D4F0F0, 8FCACA, CCE2CB, B6CFB6, 97C1A9*/
        .navbar {
            background-color: black;
            overflow: hidden;
        }

        p {
            margin: 10px 0px 10px 0px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            letter-spacing: -0.25px;
            line-height: 1.25;
            font-size: 16px;
            word-break: break-all;
            word-wrap: pre-wrap;
            color: black;
        }

        body {
            background-color: lightblue;
        }

        .centercard {
            align-items: center;
            justify-content: center;
            padding: 20px;
            min-height: 100vh;
            width: 50%;
        }

        .card {
            background-color: white;
            text-align: center;
            width: 100%;
            padding: 20px;
            margin: 5px;
            box-shadow: -20px -20px 0px 0px;
            border-radius: 10px;
        }

        .btn {
            background-color: lightblue;
            color: #FFFFFF;
            padding: 10px 30px;
            text-align: center;
            opacity: 0.9;
            font-family: 'Noto Sans KR', sans-serif;
            border-style: dashed;
            border-color: darken(lightblue, 50%);
            border-radius: 10px;
        }

            .btn:hover {
                color: white;
                background-color: lightgray;
                text-transform: capitalize;
            }
    </style>

    <div class="centercard">
        <div class="card">
            <h1>@Model.Title</h1>
            <hr style="height: 10px; margin: 8px 0px; background-color: lightblue;">
            <p>
                @Model.Lorem
            </p>
            <div style="margin: 8px 0px;">
                <button class="btn">
                    <a asp-controller="Home"
                       asp-action="Next">
                        click for next card
                    </a>
                </button>
                @*                    <button>
                    <a asp-controller="Home"
                    asp-action="OrderedNext">
                    Ordered Next Card
                    </a>
                    </button>*@
            </div>
        </div>
    </div>