@*@{
    ViewData["Title"] = "Home Page";
    }
*@
<style>
    .btn {
        background-color: lightblue;
        color: #FFFFFF;
        padding: 10px 30px;
        text-align: center;
        opacity: 0.9;
        font-family: 'Noto Sans KR', sans-serif;
        border-style: dashed;
        border-color: darken(lightblue, 50%);
        border-radius: 10px;
    }

        .btn:hover {
            color: white;
            background-color: lightgray;
            text-transform: capitalize;
        }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Loop Lifting</p>
    <div class="btn-link align-content-center">
        <button class="btn">
            <a asp-controller="Home"
               asp-action="Next">
                click for your first next card
            </a>
        </button>
    </div>
</div>

