
<!DOCTYPE html>
<html>
<head>
    <style>
        /*        $color: Color array: D4F0F0, 8FCACA, CCE2CB, B6CFB6, 97C1A9*/
        .navbar {
            background-color: black;
            overflow: hidden;
        }

        p {
            margin: 10px 0px 10px 0px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            letter-spacing: -0.25px;
            line-height: 1.25;
            font-size: 16px;
            word-break: break-all;
            word-wrap: pre-wrap;
            color: black;
        }

        body {
            background-color: lightblue;
        }

        .centercard {
            align-items: center;
            justify-content: center;
            padding: 20px;
            min-height: 100vh;
            width: 50%;
        }

        .card {
            background-color: white;
            text-align: center;
            width: 100%;
            padding: 20px;
            margin: 5px;
            box-shadow: -20px -20px 0px 0px;
            border-radius: 10px;
        }

        .btn {
            display: inline-block;
            background-color: lightblue;
            color: #FFFFFF;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin-left: 20px;
            opacity: 0.9;
            width: 50%;
            margin: 10px auto;
            padding: 10px 30px;
            color: black;
            font-family: 'Noto Sans KR', sans-serif;
            border-style: dashed;
            border-color: darken(lightblue, 50%);
            border-radius: 10px;
        }

            .btn:hover {
                color: white;
                background-color: lightgray;
                text-transform: capitalize;
            }
    </style>
</head>
<body>
    <div class="centercard">
        <div class="card">
            <h1>CS50 Final Project</h1>
            <hr style="height: 10px; margin: 8px 0px; background-color: lightblue;">
            <p>
                Project’s Title: NextCard <br />
                Student Name: Sarah Matta
                Year: 2021-2022<br />
                City and Country: Grovetown, Georgia, United States<br />
            </p>
            <div>
                <button class="btn">
                    <a href="https://cs50.harvard.edu/x/2022/">
                        click to go check out cs50!
                    </a>
                </button>
            </div>
        </div>
    </div>
</body>
