@model Card

<!DOCTYPE html>
<html>
<head>
    <style>
/*        $color: Color array: D4F0F0, 8FCACA, CCE2CB, B6CFB6, 97C1A9*/
        .navbar {
            background-color: black;
            overflow: hidden;
        }

            .navbar a {
                float: left;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: 'Noto Sans KR', sans-serif;
                font-size: 17px;
            }

        hr {
            display: block;
            border: none;
            height: 20px;
            background-color: lightblue;
            margin: 10px;
        }

        p {
            margin: 10px 0px 10px 0px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 100;
            letter-spacing: -0.25px;
            line-height: 1.25;
            font-size: 16px;
            word-break: break-all;
            word-wrap: pre-wrap;
            color: black;
        }

        body {
            background-color: lightblue;
        }

        /*        .container {
                            width: 80%;
                            min-height: 100vh;
                            display: flex;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                            margin-left: auto;
                            margin-right: auto;
                        }*/

        .center {
            align-items: center;
            justify-content: center;
            padding: 20px;
            min-height: 100vh;
            width: 50%;
        }

        .col-12 {
            padding: 20px;
        }

        .card {
            background-color: white;
            text-align: center;
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 20px;
            margin: 5px;
            box-shadow: -20px -20px 0px 0px;
            border-radius: 10px;
        }

        button {
            background-color: lightblue;
            width: 50%;
            margin: 10px auto;
            padding: 10px 30px;
            color: black;
            font-family: 'Noto Sans KR', sans-serif;
            text-transform: uppercase;
            border-style: dashed;
            border-color: darken(lightblue, 50%);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="col-12">
    <div class="center">
        <div class="card">
            <h1>@Model.Title</h1>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div>
                <button>
                    <a asp-controller="Home"
                       asp-action="Next">
                        Click For Next Card
                    </a>
                </button>
                @*                    <button>
                        <a asp-controller="Home"
                        asp-action="OrderedNext">
                        Ordered Next Card
                        </a>
                        </button>*@
            </div>
        </div>
    </div>
    </div>
</body>
